<div class="container mt-5">
  <h2>Recommended Movies for <%= @user.name %>:</h2>
  <div class="card mt-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Movie</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <% @user.movie_recommendations.each do |movie, rating| %>
            <tr>
              <td><%= movie.name %></td>
              <td><%= rating.round(2) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
